@media (max-width:680px) {
    .burger-btn{
        display: block;
    }
    .header__btn{
        display: none;
    }
    .nav{
        position: absolute;
        background-color: var(--cl-bg);
        width: 100%;
        right: 0;
        top: 50px;
        padding: 50px;
        transform-origin: right top;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
}
    .active__nav{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    .nav__list{
        display: flex;
        flex-direction: column;
    }
    .nav__btn{
        display: block;
    }
    .list__link::before{
        top: 15px;
    }
}